# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Test artifacts
*.log

# Local Selenium test credentials
Swastika_Mondal_12023002001237/02_Capstone_Project/test_data/test_data.json